<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.PowerShell.EditorServices" version="0.6.2.389" targetFramework="net472" />
  <package id="Microsoft.PowerShell.EditorServices.Host" version="0.6.2.389" targetFramework="net472" />
  <package id="Microsoft.PowerShell.EditorServices.Protocol" version="0.6.2.389" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net472" />
</packages>